* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background: #2c2c2c;
    overflow-x: hidden;
}

nav {
    display: flex;
    padding: 2% 8% 0% 8%;
}

.menu {
    display: flex; 
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

#logo {
    display: flex;
    align-content: flex-start;
    align-self: center;
    z-index: 9001;
}

.menu div {
    display: inline-block;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    transition: color 100ms linear;
    user-select: none;
}

.menu div:hover {
    color: #DEA562;
}

.menu .item {
    max-width: 0;
    opacity: 0;
    padding: 5px 0;
    overflow: hidden;
    transition: all 200ms ease-out;
    transition-delay: 50ms;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    color:  #DEA562;
}

.menu.expanded .item {
    max-width: 300px;
    opacity: 1;
    padding: 5px 20px;
}

.menu .separator {
    height: 1.5rem;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #FFFFFF;
}

.menu div.image-close {
    height: 24px;
    width: 24px;
    fill: #FFFFFF;
    margin: 0 12px;
}

.menu.expanded div.image-close {
    transform: rotate(45deg);
    transition: all 50ms linear;
}

.menu div.item-close {
    max-width: 300px;
    opacity: 1;
    padding: 5px 20px;
}

.menu.expanded div.item-close {
    max-width: 0;
    opacity: 0;
    padding: 5px 0;
    transition: all 50ms ease-out;
}

.menu div:hover, .menu div.close svg:hover {
    fill: #DEA562;
}

.menu-mobile  {
    display: none;
    flex-grow: 1; 
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.menu-mobile .open-menu {
    cursor: pointer;
    transition: color 100ms linear;
    user-select: none;
    fill: #FFFFFF;
}

.menu-mobile.expanded .open-menu {
    display: none;
}

.menu-mobile.expanded .close-menu {
    display: block;
}

.menu-mobile .close-menu {
    display: none;
    z-index: 9001;
    cursor: pointer;
    transition: color 100ms linear;
    user-select: none;
    fill: #FFFFFF;
}

.menu-mobile .open-menu:hover, .menu-mobile .close-menu:hover {
    color: #B67F41;
}

.menu-mobile.expanded .close-menu {
    display: block;
}

.menu-mobile .menu-overlay {
    display: none;
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    background-color: #2C2C2C;
    padding: 130px 0;
    width: 100%;
    height: 100%;
}

.menu-mobile.expanded .menu-overlay {
    display: block;
}

.menu-mobile .menu-overlay a {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    padding: 15px 40px;
    color: white;
    text-decoration: none;
}

.menu-mobile .menu-overlay a:hover {
    color: #B67F41;
}


.contact-container {
    width: 100%;
    height: auto;
    padding: 8% 8% 0% 8%;
}

.contact-heading {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
}

.contact-text {
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
}

.friends-text {
    padding-top: 5%;
    color: #B68042;
    font-size: 1.2rem;
    font-weight: 300;
}

.linkedin-text {
    color: #B68042;
    font-size: 1.2rem;
    font-weight: 300;
}

.linkedin-text:hover {
    color: #B68042;
    text-decoration-line: underline;
    cursor: pointer;
}

.spacer5 {
    height: 10.5rem;
}

.hero-image1 {
    transform: scale(.8);
    padding-left: 50%;
}

.hero-image2 {
    transform: scale(.8);
    padding-left: 20%;
}

.spacer4 {
    height: 7rem;
}

.footer-nav-item {
    padding: 2%;
}

.footer-nav-text {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.footer-nav-text:hover {
    color:  #DEA562;
    cursor: pointer;
}

@media only screen and (max-width: 1020px) {
    .menu-mobile  {
        display: flex;
    }
    .menu  {
        display: none;
    }
}


@media screen and (max-width: 800px) {
    #nav-menu {
        justify-content: center;
        align-items: center;
        display: inline-flex;
    } 
    .contact-heading {
        font-size: 1.3rem;
        line-height: 1.8rem;
    } 
    .contact-text {
        font-size: 1rem; 
    } 
    .friends-text {
        font-size: 1rem; 
    }
    .linkedin-text {
        font-size: 1rem;    
    }
    .footer-nav-item {
        padding: 0% 0% 5% 0%;
    }
    .footer-nav-text {
        font-size: .8rem;
    }
}

@media screen and (max-width: 600px) {
    .contact-text {
        padding-top: 5%;
    } 
    .contact-text {
        font-size: .9rem; 
    } 
    .friends-text {
        font-size: .9rem; 
    }
    .linkedin-text {
        font-size: .9rem;
    }
    .spacer4 {
        height: 6rem;
    }
    .spacer5 {
        height: 1rem;
    } 
    .hero-image2 {
        display: none;
    }
}